body {
    background-color: #2f2f2f;
    color: #f2f2f2;
}

.panel-div {
    border: 1px solid #0f0f0f;
    border-radius: 10px;
    max-width: 33%;
    padding: 0.2em;
}

.panel-title {
    width: 100%;
    text-align: center;
    margin-top: 2px;
}